.root {
  padding: 0 0 0 331px;

  .drawerPaper {
    padding: 15px;
    width: 300px;
    top: 64px;
    left: 0;
    bottom: 0;
    height: auto;
  }

  .panelDetails {
    padding-left: 0;
    padding-right: 0;
  }

  .box {
    width: 100%;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }

  .search {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: rgba(0, 0, 0, 0.10);
    }

    margin-right: 20px;
    margin-left: 16px;
    width: 250px;
  }

  .searchIcon {
    width: 56px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputRoot {
    color: inherit;
  }

  .inputInput {
    width: 100%;
    padding: 8px 8px 8px 56px;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
