.appBar {
  z-index: 1500;
}

.mainMenu {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav {
  display: flex;
  height: 100%;
}

.menuLink {
  display: flex;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 10px;

  &.active {
    border-bottom: 3px solid #ff5722;
  }
}

.title {
  margin-right: 20px;
}
