.card {
  margin: 10px;
  height: 282px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 200px;
}

.inches {
  float: right;
}

.cardContent {
  padding-top: 0
}

.prop {
  display: flex;
  padding: 2px 0;
  font-size: 14px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed #b3e7ff;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  white-space: nowrap;
}

.key {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.price {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}
